{% extends "base.html" %}
 {% block title %} 
    Register
  {% endblock %}
  {% block css%} <link rel="stylesheet" href="{{url_for('static' , filename='css/register.css')}}"> {% endblock%}

  {% block content %}
  <div id="login">
    <div class="back"><a href="{{url_for('home')}}"><i class="fas fa-arrow-circle-left"></i></a></div>
  <div class="container">
    <div class="row main">
        <div class="main-login main-center">
        <h3>Register</h3>
            <form class="" method="post" action="#">
                
                <div class="form-group">
                    {{ form.username.label}}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            {{ form.username(class= 'form-control')}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form.email.label}}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            {{ form.email(class= 'form-control')}}    
                        </div>
                    </div>
                </div>
             <div class="form-group">
                {{ form.password.label}}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            {{ form.password(class= 'form-control')}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form.confirm_pass.label}}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            {{ form.confirm_pass(class= 'form-control')}}
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                   <!-- <button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</button> -->
                   {{ form.submit_btn(class = 'btn btn-block login-button button') }}
                </div>
            </div>
  {% endblock %}