{% extends "base.html" %} {% block title %}Todo list{% endblock %}

{% block middle_content %}

<div class="list-group">
   {% for info in infos %}
   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start {{ info.class }}">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ info.title }}</h5>
      <small>{{ info.date }}</small>
    </div>
    <p class="mb-1">{{ info.decription }}</p>
    <small>By {{ info.name }}</small>
  </a>
   {% endfor%}
</div>

{% endblock %}